<h1>Start Mystery</h1>
<form name="form">
    <div class="area">
        <h2>Enter Players (Clockwise)</h2>
        <div class="input">Number of Players: <input type="number" data-ng-model="playerCount" size="2" required="" /></div>
        <div data-ng-repeat="player in players" class="input">
            Name: <input type="text" data-ng-model="player.name" size="20" required="" />
            Facts: <input type="number" data-ng-model="player.facts" size="2" data-ng-disabled="player.isCurrentPlayer" />
        </div>
    </div>

    <div class="area">
        <h2>Mystery Rules</h2>
        <div class="input">
            Questions answered:
            <label><input type="radio" ng-model="direction" value="clockwise" />Clockwise</label>
            <label><input type="radio" ng-model="direction" value="counterclockwise" />Counter Clockwise</label>
        </div>
    </div>
    
    <div class="area">
        <h2>The Facts You Possess</h2>
        <div class="questionArea">
            <div class="question" data-ng-repeat="question in questions">
                <h3>{{question.name}}</h3>
                <div class="fact" data-ng-repeat="fact in question.facts">
                    <label>
                        <input type="checkbox" data-ng-model="fact.selected" /> {{fact.name}}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="area">
        <button data-ng-click="start()" data-ng-disabled="form.$invalid || players[0].facts == 0">Start</button>
    </div>
</form>