<h1>{{playerName}} Poses A Theory</h1>
<form name="form">
    <div class="section">
        <h2>With These Facts</h2>
        <div class="questionArea">
            <div class="question" data-ng-repeat="question in questions">
                <h3>{{question.name}}</h3>
                <div class="fact" data-ng-repeat="fact in question.facts">
                    <label>
                        <input type="radio" name="{{question.name | lowercase}}" data-ng-model="$parent.question.value" data-ng-value="fact.name" />
                        <img width="14" height="14" class="factStatus" data-ng-src="img/{{fact.status}}.png" />
                        <span class="factName">{{fact.name}}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <button data-ng-click="poseTheory()" data-ng-disabled="isInvalid()">Pose Theory</button>
        <button data-ng-click="cancel()">Cancel</button>
    </div>
</form>